{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="d-flex flex-wrap border rounded-2 bg-white mx-2 my-2">
  <div class="">
    <img style="width:400px" src="{{object.image.url}}" class="card-img-top" alt="{{car.car_name}}"/>
  </div>

  <div class="my-2 mx-5" style="margin-right:50px">
      <h5>Car Name : {{object.car_name}}</h5>
      <h5>Price : {{object.car_price}}</h5>
      <h5>Quantity : {{object.quantity}}</h5>
      <p><h5>Description : </h5>  {{object.description}}</p>
      <h5>Brand Name : {{object.car_brand_name.brand_name}}</h5><br>
      {% if user.is_authenticated %}
        <button class="btn btn-warning"><a class="text-decoration-none text-dark" href="{% url 'buynow' object.id %}"><b>Buy Now</b></a></button>
      {% endif %}
  </div>

</div>


  <div class="card m-2">
    <h6 class="fw-bold m-2">Total Comments : {{comments | length}}</h6>
    {% for comment in comments%}
      <div class="card-body border m-3">
        <b>{{comment.name}}</b>
        <small>, {{comment.created_on}}</small> 
        <p>....{{comment.body}}</p>
      </div>
    {% endfor %}
  </div>



  <div class="m-2 card">
    <form method="post" class="m-3">
      <h3>Add Comment :</h3>
      {% csrf_token %} {{comment_form | crispy}}
      <button class="btn btn-warning">Comment</button>
    </form>
  </div>

{% endblock content %}