{% extends "base.html" %} {% load static %} {% block content %}

<div class="container border mt-5 mb-5">
  <div
      class="d-flex justify-content-center flex-wrap pt-3 align-items-center mb-3"
  >
      <div class="col-6">
          <h1 class="h2 text-center mb-4">Welcome To Car Mart</h1>
          <div class="w-75%">
              <p>
                  Welcome to Car Mart, your ultimate destination for all
                  things automotive! Our website is designed with you in mind,
                  providing a user-friendly interface and a wealth of
                  information to enhance your car-buying experience.
              </p>
              <p>
                  Explore our extensive inventory of high-quality vehicles,
                  ranging from sleek sedans to robust SUVs and powerful luxury
                  cars. Our commitment to customer satisfaction is reflected
                  in our transparent listings, detailed vehicle descriptions,
                  and comprehensive photos.
              </p>
              <p>
                  Join the Car Mart community and embark on a
                  seamless, enjoyable journey to find your dream car. We look
                  forward to assisting you in making the right choice and
                  welcoming you into the world of hassle-free car shopping!
              </p>
          </div>
      </div>
      <div class="col-6">
          <img src="{% static 'header_car.jpg' %}" class="img-fluid" alt="" />
      </div>
  </div>
</div>

<div class="p-4">
    <div class="bg-red p-3">
        <h3>All Brand :</h3>
        <br />
        {% for brd in brand %}
        <thead>
            <tr>
                <button class="btn btn-warning">
                    <th class="mx-3">
                        <a
                            class="text-decoration-none text-dark"
                            href="{% url 'car_brand_wise_car' brd.slug %}"
                            ><b>{{brd.brand_name}}</b></a
                        >
                    </th>
                </button>
            </tr>
        </thead>
        {% endfor %}
    </div>

    <div class="p-3">
        <h4>Total Car Found : {{data | length}}</h4>
        <div class="d-flex flex-wrap pt-5">
            {% for car in data %}
            <div class="col-sm-3">
                <div class="card mx-2 my-2">
                    <div class="card-body">
                        <img
                            src="{{car.image.url}}"
                            class="card-img-top"
                            alt="{{car.car_name}}"
                        />
                        <br />
                        <h5>Car Name : {{car.car_name}}</h5>
                        <h5>Price : {{car.car_price}}</h5>
                        <h5>Brand Name : {{car.car_brand_name.brand_name}}</h5>
                        <button class="btn btn-warning">
                            <a
                                class="text-decoration-none text-dark"
                                href="{% url 'detailview' car.id %}"
                                ><b>View Detail</b></a
                            >
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
