{% extends "base.html" %} {% load static %} {% block content %}

<br /><br />
<div class="d-flex flex-wrap p-5 align-items-center">
    <div class="col-6">
        <h1>Welcome Apna CarMart</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            aspernatur est aut voluptatem necessitatibus cumque eveniet laborum
            ipsum, quidem dolor alias, repellat adipisci numquam id. Iusto,
            optio dolore? Earum, quos! Commodi quibusdam nulla odit omnis qui
            laboriosam eveniet exercitationem saepe numquam harum, earum nam
            quos quidem dolorem perferendis sed placeat similique laborum
            officiis, voluptatibus illo eos accusamus! Quis ea, architecto nam
            ipsum doloremque corporis distinctio voluptates perspiciatis aut
            enim similique illo earum harum illum hic voluptatum eligendi, nulla
            rem quos sunt quas iste culpa cum. Ex vitae, quod at libero nam
            itaque neque, amet adipisci, sunt dolore aperiam quas enim.
        </p>
    </div>
    <div class="col-6 p-3">
        <img
            style="width: 700px"
            src="{% static 'homephoto.png' %}"
            alt="homephoto.png"
        />
    </div>
</div>

<div class="p-4">
    <div class="bg-red p-3">
        <h3>All Brand :</h3>
        <br />
        {% for brd in brand %}
        <thead>
            <tr>
                <button class="btn btn-warning">
                    <th class="mx-3">
                        <a
                            class="text-decoration-none text-dark"
                            href="{% url 'car_brand_wise_car' brd.slug %}"
                            ><b>{{brd.brand_name}}</b></a
                        >
                    </th>
                </button>
            </tr>
        </thead>
        {% endfor %}
    </div>

    <div class="p-3">
        <h4>Total Car Found : {{data | length}}</h4>
        <div class="d-flex flex-wrap pt-5">
            {% for car in data %}
            <div class="col-sm-3">
                <div class="card mx-2 my-2">
                    <div class="card-body">
                        <img
                            src="{{car.image.url}}"
                            class="card-img-top"
                            alt="{{car.car_name}}"
                        />
                        <br />
                        <h5>Car Name : {{car.car_name}}</h5>
                        <h5>Price : {{car.car_price}}</h5>
                        <h5>Brand Name : {{car.car_brand_name.brand_name}}</h5>
                        <button class="btn btn-warning">
                            <a
                                class="text-decoration-none text-dark"
                                href="{% url 'detailview' car.id %}"
                                ><b>View Detail</b></a
                            >
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
